html,body{
    font-size: 62.5%;
    font-family: 微软雅黑;
    width: 100%;
}
body{
    width: 100%;
}
.box{
    background: #0894ec;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.layout{
   min-width: 300px;
    max-width: 768px;
    /*width: 100%;*/
    height: 500px;
    margin:0 auto;
    position: relative;
}
     /*头部*/
.header{
    /*background: #0894ec;*/
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.header img{
    width: 20%;
    height: 30px;
    padding:5px 10px;
}

.jrl_search{
    width: 38%;
    height: 30px;
    vertical-align: 16px;
    border-radius: 5px;
    border: 0;
}
.jrl_btn{
    width: 18%;
    height: 30px;
    background-color: #E88C0D;
    color: #fff;
    font-size: 16px;
    border: 0;
    vertical-align: 15px;
    border-radius: 5px;
    box-shadow: 1px 4px 4px #E88C0D;
    margin-left: 1%;
}
.jrl_self{
    width: 12%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    vertical-align: 11px;
    text-align: right;
    display: inline-block;
}
.nav{
   /* width: 100%;
    height: 5rem;
    line-height: 5rem;*/

}
.nav h2{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 2rem;
    border-bottom:1px solid #E1E1E1;
    padding: 18px;
    margin-bottom: 1rem;
}
.nav ul{
    width: 100%;
    margin-top: 2rem;
    padding:10px 0;
}
.nav ul li{
    width: 33%;
    /*height: 70px;*/
    float: left;
    margin: 10px 0;
    text-align: center;
}
.tu{
    width: 30%;
    height: 30%;
    display: block;
    margin: 0 auto;
}
.nav_font{
    padding: 5px;
}
.lunbo{
    width: 100%;
    overflow: hidden;
    border-bottom: 15px solid #F0EFF5;
    border-top:15px solid #F0EFF5;
    position: relative;
}
.lunbo ul li{
    height:8rem;
}
.lunbo img{
    width: 100%;
    height: 100%;
}
.lunbo ul{
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    left:0;
}

.center_btn{
    width: 100%;
    padding: 2rem 0;
}
.center_btn1{
    width: 40%;
    height: 5rem;
    border: 0;
    border-radius: 5px;
    background-color: #0894EC;
    color: #fff;
    font-size: 24px;
    margin-left: 8%;
}
.center_btn2{
    margin-left: 5%;
}
.recom_box{
    width: 100%;
    height: 6rem;
    border-top:15px solid #F0EFF5;
    border-bottom:1px solid #E1E1E1;

}
.recom{
    width: 100%;
    line-height: 3rem;
    padding: 18px 0;
    font-size: 24px;
    color: #3D4145;
}
.more{
    font-size: 20px;
    color: #666;
    float: right;
    margin-right: 2%;
}

.content{
    margin:10px 0;
    padding:10px 0;
    text-indent: 1.5em;
    border-bottom:1px solid #E1E1E1;
    position: relative;
}
.content h3{
    width: 75%;
    text-indent: 1.5em;
    font-size: 16px;
}

.ding img,.jian img{
    width: 5%;
    height: 30%;
    position: absolute;
    top: 25%;
    left: 80%;
}

.jian img {
    left:88%;
}
.content_font{
    width: 100%;
    font-size: 14px;
    color: #0894EC;
}
.content_font span{
    color: #666;
    margin-right: 30px;
    float: right;
}

.footer ul{
    width: 100%;
    margin-top: 2rem;
    padding:10px 0;
}
.bank{
    width: 50%;
    height: 50%;
    display: block;
    margin:0 auto;

}
.footer ul li{
    width: 33%;
    /*height: 70px;*/
    float: left;
    margin: 10px 0;
    text-align: center;
}
.footer_font{
   font-size: 18px;
}